@import 'colors';
@import 'variables';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}

#root {
    min-width: 100%;
    min-height: 100%;
}

::selection {
    background: map_get($colors, primary);
    color: map_get($colors, lightest);
}
